.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px;
  background: #111013 ;
  color:floralwhite;
  border-radius: 0;
}


address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #ad1328;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.card {
  height: 350px;
  background-color: rgb(224, 219, 219);
}

.contenido-tab{
  display: flex;
  align-self: center;
}

.tabs{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tab{
  max-height: min-content;
  display: column;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}
.tabs .tab a{
  color: #6BA0D5;
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #043D75;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #92BAE2;
  outline: none;
}